<header class="header">
  <div class="carousel">
    <div class="container">
      <nav class="nav">
        <button class="home-btn" onclick="location.href='index.html'">
          Home
        </button>
        <button class="library-btn" onclick="location.href='my-library.html'">
          My Library
        </button>
        <div class="btn-right-nav">
          <button class="watched-btn">Watched</button>
          <button class="queue-btn">Queue</button>
        </div>
        <button id="theme-toggle-btn" class="theme-toggle-btn">Dark</button>
      </nav>
      <div class="logo-container">
        <span class="logo-text"
          ><img
            class="logo"
            src="/src/images/logo.png"
            alt="logo"
          />Filmoteka</span
        >
      </div>
    </div>
    <img
      class="header-red carousel-img active"
      src="/src/images/header-image/red-cover.jpg"
      alt="red"
    />
    <img
      class="header-orange carousel-img"
      src="/src/images/header-image/orange-cover.jpg"
      alt="orange"
    />
    <img
      class="header-yellow carousel-img"
      src="/src/images/header-image/yellow-cover.jpg"
      alt="yellow"
    />
  </div>
</header>
<section></section>
