<header class="header">
  <div class="carousel">
    <div class="container">
      <nav class="nav-left">
        <button class="home-btn" onclick="location.href='index.html'">
          Home
        </button>
        <button class="library-btn" onclick="location.href='my-library.html'">
          My Library
        </button>
      </nav>
      <nav class="nav-right">
        <button class="watched-btn">Watched</button>
        <button class="queue-btn">Queue</button>
      </nav>
      <div class="logo-container">
        <span class="logo-text">
          <img class="logo" src="/src/images/logo.png" alt="logo" />Filmoteka
        </span>
      </div>
    </div>
    <img
      class="header-red carousel-img active"
      src="/src/images/header-image/red-cover.jpg"
      alt="red"
    />
    <img
      class="header-orange carousel-img"
      src="/src/images/header-image/orange-cover.jpg"
      alt="orange"
    />
    <img
      class="header-yellow carousel-img"
      src="/src/images/header-image/yellow-cover.png"
      alt="yellow"
    />

    <img
      class="mobile-carousel-img active"
      src="/src/images/header-image/image-red-responsive.png"
      alt="red"
    />
    <img
      class="mobile-carousel-img"
      src="/src/images/header-image/image-orange-responsive.png"
      alt="orange"
    />
    <img
      class="mobile-carousel-img"
      src="/src/images/header-image/image-yellow-responsive.png"
      alt="yellow"
    />

    <!-- <button type="radio" id="theme-toggle-btn" class="theme-toggle-btn">Dark</button> -->
  </div>
</header>
