<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Filmoteka</title>
  <link rel="stylesheet" href="../css/my-library.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-gDOLcp6E+dw+5njyXrSUJiJgfeCJ2sG5YhvN5EmuL5xI5Tx2m/Zm2Jp1P1hKsPPX9T5ag81S0zvOzDL3qWjg8Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header class="header">
        <div class="carousel">
          <div class="container">
            <nav class="nav">
              <button class="home-btn" onclick="location.href='./index.html'">Home</button>
              <button class="library-btn" onclick="location.href='./my-library.html'">My Library</button>
              <div class="btn-right-nav">
                <button class="watched-btn">Watched</button> 
                <button class="queue-btn">Queue</button>
              </div>
              <button id="theme-toggle-btn" class="theme-toggle-btn">Dark</button>
            </nav>
            <div class="logo-container">
                <span class="logo-text"><img class="logo" src="../images/logo.png" alt="logo">Filmoteka</span>
              </div>
          </div>
          <img class="header-red carousel-img active" src="../images/header-image/red-cover.jpg" alt="red">
          <img class="header-orange carousel-img" src="../images/header-image/orange-cover.jpg" alt="orange">
          <img class="header-yellow carousel-img" src="../images/header-image/yellow-cover.jpg" alt="yellow">
        </div>
      </header>
      <section></section>

  <script src="../js/carousel.js"></script>
  <script src="../js/dark-mode.js"></script>
</body>
</html>
